.container{
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1000px;
}
.image-user{
  max-height: 300px;
  max-width: 300px;
}
.user-block-title{
  margin: 10px 0 0 0;
  display: inline-block;
}
.user-list{
  max-width: 600px;
  border-top: 1px solid black;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.user-list-link{
  margin: 0 20px 0 0;
}
.refresh-data{
  color: black;
  background: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.refresh-data:hover{
  color: grey;
  cursor: pointer;
}
.back{
  border-color: transparent;
  background: transparent;
  font-size: 24px;
  position: absolute;
  right: 0;
}
.back:hover{
  color: grey;
  cursor: pointer;
}
