<div class="container">

  <button class="back" routerLink="/searchUsers">Назад</button>
  <img class="image-user" src="{{user.avatar_url}}">
  <h2 class="user-name">{{user.login}}</h2>


  <div class="user-block" >
    <h3 class="user-block-title">Following</h3>
    <button *ngIf="errorFollowing" (click)="refreshData('following')" class="refresh-data" >обновить</button>

    <p *ngIf="!cardUser.following && !errorFollowing" class="load">Загрузка...</p>
    <p *ngIf="errorFollowing" class="load">Ошибка!</p>


    <ul class="user-list" *ngIf="!errorFollowing">
      <li *ngFor="let follow of cardUser.following" >
        <a href="{{follow.html_url}}" class="user-list-link">{{follow.login}}</a>
      </li>
    </ul>
  </div>


  <div class="user-block" >
    <h3 class="user-block-title">Followers</h3>
    <button *ngIf="errorFollowers" (click)="refreshData('followers')" class="refresh-data" >обновить</button>

    <p *ngIf="!cardUser.followers && !errorFollowers" class="load">Загрузка...</p>
    <p *ngIf="errorFollowers" class="load">Ошибка!</p>


    <ul class="user-list" *ngIf="!errorFollowers">
      <li *ngFor="let follower of cardUser.followers">
        <a href="{{follower.html_url}}" class="user-list-link">{{follower.login}}</a>
      </li>
    </ul>
  </div>


  <div class="user-block" >
    <h3 class="user-block-title">Repos</h3>
    <button *ngIf="errorRepos" (click)="refreshData('repos')" class="refresh-data" >обновить</button>

    <p *ngIf="!cardUser.repos && !errorRepos" class="load">Загрузка...</p>
    <p *ngIf="errorRepos" class="load">Ошибка!</p>


    <ul class="user-list" *ngIf="!errorRepos">
      <li *ngFor="let rep of cardUser.repos" >
        <a href="{{rep.html_url}}" class="user-list-link">{{rep.name}}</a>
      </li>
    </ul>
  </div>
</div>

